body {
  margin: 0;
}
section {
  height: 100vh;
  background-size: cover;
  text-align: center;
  padding: 7em 9em;
}
#gold {
  background-image: url(img/gold.png);
  color: #fff;
  padding: 4em;
}
#sf {
  background-image: url(img/san-francisco.png);
}
#redwood {
  background-image: url(img/Redwoods.png);
  color: #fff;
}
#hills {
  background-image: url(img/Hills.png);
}
#snow {
  background-image: url(img/snow-mountain-8.png);
  color: #fff;
}
#ggate {
  background-image: url(img/ggate.png);
}
header {
  text-transform: uppercase;
}

#logo {
  float: left;
  border-bottom: #fff solid 5px;
  letter-spacing: 5px;
  font-size: 4em;
}
nav {
  float: right;
  letter-spacing: 3px;
  font-size: 2em;
  margin-top: 1em;
}
nav > a {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}
.tk-didoni-urw {
  font-size: 4.5em;
  margin-bottom: 0.25em;
  letter-spacing: 2px;
  width: 60%;
  margin: 0 auto;
}
.tk-din-condensed {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2em;
  margin: 20px;
}
.tk-adage-script-jf {
  font-size: 4em;
  margin: 0;
}
#gold > h1 {
  font-size: 6.5em;
  margin: 15% auto;
  letter-spacing: 3px;
}
.clearfix {
  content: none;
  clear: both;
}
main {
  border-top: 5px solid;
  border-bottom: 5px solid;
  width: 60%;
  margin: 10px auto;
}
p {
  width: 65%;
  margin: 10px auto;
  font-weight: 900;
  line-height: 1.25em;
}
#snowList {
  border-bottom: none;
}
input, textarea {
  width: 50%;
  display: block;
  padding: 3px;
  margin: 5px auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  line-height: 2em;
  text-transform: none;
}
form > .tk-din-condensed {
  letter-spacing: 0;
  line-height: 1em;
  font-size: 1em;
}
button {
  background-color: #000;
  color: #fff;
  border: none;
}