body {
  margin: 0;
}
section {
  height: 100vh;
  background-size: cover;
  text-align: center;
  padding: 1em;
}
#gold {
  background-image: url(img/gold.png);
  color: #fff;
  padding: 3em;
}
#sf {
  background-image: url(img/san-francisco.png);
}
#redwood {
  background-image: url(img/Redwoods.png);
}
#hills {
  background-image: url(img/Hills.png);
}
#snow {
  background-image: url(img/snow-mountain-8.png);
}
#ggate {
  background-image: url(img/ggate.png);
}

#logo {
  float: left;
}
nav {
  float: right;
}
nav > a {
  text-decoration: none;
  color: #fff;
  margin: 3em;
}
.clearfix {
  content: none;
  clear: both;
}
div {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  width: 60%;
  margin: 10px auto;
}
p {
  width: 70%;
  margin: 5px auto;
}
